.modal-box{
    width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.582);
}
.modal-body{
    padding: 10px 15px;
    width: 500px;
    margin: 50px auto; 
    background-color: white;
    border-radius: 10px;
    border: 2px solid lightgray;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-content{
    position: relative;
}